.Box {
  display: flex;
  flex-direction: column;

  /* border: 1px solid white; */

  padding: 14rem 10rem 3rem 10rem;
}

.Top,
.Bottom {
  text-align: center;
}

.Top h1 {
  font-size: 3rem;
}

/*** ICONS CONTAINER ***/
.IconsContainer {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}

.ItemIcon {
  display: inline-block;
  margin: 0 1.5rem;
}

.Icon {
  font-size: 6rem;
  cursor: pointer;
  color: white;
  opacity: 0.5;
}

.Icon:hover {
  opacity: 1;
}

/*** END ICONS CONTAINER ***/